.detail {
    position: fixed;
    z-index: 3;
    right: 5vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.detailHeader{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detailUnderHeader *{
    padding: 2vh;
}

.detailUnderHeader{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailBody{
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detailBody img {
    margin: 2vw;
    width: 25vw;
}
.detailBody p {
    width: 25vw;
}