* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #111;
  background-color: #fff;
}

body {
  background: #111;
}

#scroll_bar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
}

#main_wrapper, #head_strip, #head_bar {
  width: 70vw;
  margin: 15vh auto 5vh auto;
}

#footer {
  width: 95%;
  position: fixed;
  bottom: 0;
  left: 2.5%;
  padding: 1vh 0;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  background-color: #111;
  color: #fff;
}

#head_strip {
  position: fixed;
  margin: -15vh 0;
  height: 15vh;
  background-color: #111;
}

#head_bar {
  bottom: 0;
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #00b;
}

#head_bar #left_bar {
  display: inline-block;
}

#head_bar #right_bar {
  float: right;
}

#head_bar li {
  margin: 0 0.2rem;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  background-color: #00f;
  color: #fff;
}

#head_bar li:hover {
  background-color: #111;
}

li#search {
  padding: 0;
}

li#search #searchInput {
  width: 200px;
  padding: 0.33333rem;
  border: solid 3px #00f;
  border-radius: 10px;
  background-color: #fff;
}

li#search #searchInput:focus {
  outline: none;
}

li#filter_sm,
li#display_sm,
li#create_sm,
li#login_sm {
  display: none;
}

@media only screen and (max-width: 650px) {
  li#display_sm,
  li#create_sm,
  li#login_sm {
    display: inline-block;
  }
  li#display,
  li#create,
  li#login {
    display: none;
  }
}

.item_box {
  height: 420px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: #fff;
}

.item_box .box_title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  color: #00f;
}

.item_box .box_type,
.item_box .box_topics,
.item_box .box_authors {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.item_box .box_authors {
  text-align: right;
}

.item_box .box_img {
  width: 100%;
  height: 150px;
  margin: 1rem 0;
}

.item_box .box_description {
  height: 70px;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1rem;
}

.item_box button {
  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 10px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  float: left;
}

.item_box button:hover {
  background-color: #00f;
  color: #fff;
}

@media only screen and (max-width: 1100px) and (min-width: 1001px), only screen and (max-width: 700px) and (min-width: 481px) {
  .item_box {
    height: 400px;
  }
  .item_box .box_title {
    font-size: 0.9rem;
  }
  .item_box .box_type,
  .item_box .box_topics,
  .item_box .box_authors {
    font-size: 0.7rem;
  }
  .item_box .box_description {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1001px) and (max-width: 600px), only screen and (max-width: 700px) and (min-width: 481px) and (max-width: 600px) {
  .item_box .box_icon {
    display: none;
  }
  .item_box .box_description {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1001px) and (max-width: 550px), only screen and (max-width: 700px) and (min-width: 481px) and (max-width: 550px) {
  .item_box {
    height: 380px;
  }
  .item_box .box_type,
  .item_box .box_topics,
  .item_box .box_authors {
    font-size: 0.63rem;
  }
}

#item_list_content {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: #00b;
}

#item_list_content th {
  padding-bottom: 1rem;
  color: #fff;
}

#item_list_content .item_list td {
  padding: 0.5rem;
  font-size: 0.7rem;
  background-color: #99f;
}

#item_list_content .list_icon {
  width: 2.5%;
  border-radius: 1rem 0 0 1rem;
}

#item_list_content .list_title {
  width: 15%;
}

#item_list_content .list_type {
  width: 5%;
}

#item_list_content .list_topics,
#item_list_content .list_authors,
#item_list_content .list_published_date {
  width: 10%;
}

#item_list_content .list_description {
  text-align: justify;
}

#item_list_content .list_id {
  width: 5%;
  border-radius: 0 1rem 1rem 0;
}

@media only screen and (max-width: 1000px) {
  #item_list_content .list_id {
    max-width: 50px;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 900px) {
  #item_list_content th {
    font-size: 0.7rem;
  }
  #item_list_content .item_list td {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .list_description,
  .list_published_date,
  .list_id,
  .low-responsive {
    display: none;
  }
  .list_authors {
    border-radius: 0 1rem 1rem 0;
  }
}

.button_corrector button {
  width: 100px;
  margin: 1rem 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.4rem;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: none;
}

.background_corrector {
  width: 95%;
  height: 100vh;
  position: fixed;
  left: 0;
  margin: 0 2.5%;
  background-color: #111;
}

.background_corrector button {
  width: 100px;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  text-align: center;
}

.background_corrector button:hover {
  background-color: #00f;
  color: #fff;
}

.detail_wrapper {
  width: 70vw;
  height: 80vh;
  position: fixed;
  overflow-y: scroll;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #00b;
  color: #fff;
}

.detail_title {
  width: 70%;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}

.detail_id {
  width: 30%;
  display: inline-block;
  font-weight: bold;
  text-align: right;
}

.detail_topics {
  display: inline-block;
  font-style: italic;
}

.detail_type {
  font-style: italic;
  float: right;
}

.detail_img {
  width: 100%;
  margin: 1rem auto;
  border: 1px solid #111;
  border-radius: 1rem;
  background: #fff;
}

.description_wrapper {
  background-color: #99f;
  border-radius: 1rem;
  padding: 1rem;
  color: #000;
}

.detail_description {
  text-align: justify;
  display: block;
}

.description_footer {
  margin-top: 1rem;
  text-align: right;
}

.detail_published_date,
.detail_authors {
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  .background_corrector button {
    display: none;
  }
  .button_corrector button {
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  .detail_title {
    font-size: 1.2rem;
  }
  .detail_id,
  .detail_topics,
  .detail_type {
    font-size: 0.91rem;
  }
}

@media only screen and (max-width: 700px) {
  .detail_title,
  .detail_id,
  .detail_topics,
  .detail_type {
    width: 100%;
    margin-bottom: 0.2rem;
    display: block;
    text-align: left;
  }
  .detail_title {
    font-size: 1.5rem;
  }
  .detail_id {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .detail_title {
    font-size: 1rem;
  }
}

.createDiagram {
  width: 90vw;
  position: fixed;
  left: 5vw;
  padding: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  color: #fff;
}

.createDiagram input {
  width: 30vw;
  display: block;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.createDiagram label {
  font-weight: bold;
  font-style: italic;
}

.createDiagram button {
  width: 100px;
  margin: 0.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.createDiagram button:hover {
  background-color: #00f;
  color: #fff;
}

@media only screen and (max-width: 650px) {
  .createDiagram input {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */