* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #111;
  background-color: #fff;
}

body {
  background: #111;
}

#scroll_bar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
}

#main_wrapper, #head_strip, #head_bar {
  width: 70vw;
  margin: 15vh auto 5vh auto;
}

#footer {
  width: 95%;
  position: fixed;
  bottom: 0;
  left: 2.5%;
  padding: 1vh 0;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  background-color: #111;
  color: #fff;
}

#head_strip {
  position: fixed;
  margin: -15vh 0;
  height: 15vh;
  background-color: #111;
}

#head_bar {
  bottom: 0;
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #00b;
}

#head_bar #left_bar {
  display: inline-block;
}

#head_bar #right_bar {
  float: right;
}

#head_bar li {
  margin: 0 0.2rem;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  background-color: #00f;
  color: #fff;
}

#head_bar li:hover {
  background-color: #111;
}

li#display_list,
li#create,
li#search_sm,
li#filter_sm,
li#display_sm,
li#create_sm,
li#login_sm {
  display: none;
}

@media only screen and (max-width: 600px) {
  li#search_sm,
  li#filter_sm,
  li#display_sm,
  li#login_sm {
    display: inline-block;
  }
  li#search,
  li#filter,
  li#display_grid,
  li#display_list,
  li#login {
    display: none;
  }
}

.item_box {
  height: 420px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: #fff;
}

.item_box .box_title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: #00f;
}

.item_box .box_type,
.item_box .box_topics,
.item_box .box_authors {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.item_box .box_authors {
  text-align: right;
}

.item_box .box_img {
  width: 100%;
  height: 150px;
  margin: 1rem 0;
}

.item_box .box_description {
  height: 70px;
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 1rem;
}

#item_list_content {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: #00b;
}

#item_list_content th {
  padding-bottom: 1rem;
  color: #fff;
}

#item_list_content .item_list td {
  padding: 0.5rem;
  background-color: #99f;
}

#item_list_content .list_icon {
  width: 2.5%;
  border-radius: 1rem 0 0 1rem;
}

#item_list_content .list_title {
  width: 15%;
}

#item_list_content .list_type {
  width: 5%;
}

#item_list_content .list_topics,
#item_list_content .list_authors,
#item_list_content .list_published_date {
  width: 10%;
}

#item_list_content .list_description {
  text-align: justify;
}

#item_list_content .list_id {
  width: 5%;
  border-radius: 0 1rem 1rem 0;
}
/*# sourceMappingURL=main.css.map */