

///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Global theme
///////////////////////////////////////////////////////////////////////////////////////////////////////////

// Color theme
    $c_light:     #fff;
    $c_lightBg:   #fff;

    $c_dark:      #000;
    $c_darkBg:    #111;

    $c_main:      #00f;
    $c_secL1:     #33f;
    $c_secL2:     #66f;
    $c_secL3:     #99f;
    $c_secL4:     #bbf;
    $c_secD1:     #00b;
    $c_secD2:     #009;
    $c_secD3:     #006;
    $c_secD4:     #003;

    $c_link:      #0f0;

// Font sizing
    $font_size_xs:      0.5rem;
    $font_size_sm:      0.7rem;
    $font_size_md:      1rem;
    $font_size_lg:      1.5rem;
    $font_size_xl:      2.5rem;

// Font spacing
    $font_spacing_xxs:  0.3rem;
    $font_spacing_xs:   1rem;
    $font_spacing_sm:   1.5rem;
    $font_spacing_md:   2rem;
    $font_spacing_lg:   4rem;
    $font_spacing_xl:   6rem;

// Border
    $border_scroll:     20px;
    $border_contentBox: 10px;

// Correctors
    $corrector_wrapper_top_margin:  15vh;


///////////////////////////////////////////////////////////////////////////////////////////////////////////
// Components
///////////////////////////////////////////////////////////////////////////////////////////////////////////

